@property --sites-list-height {
	syntax: "<dimension>";
	inherits: true;
	initial-value: 24pt;
}

@property --menu-bar-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #333;	
}

@property --menu-bar-background-color-hover {
	syntax: "<color>";
	inherits: false;
	initial-value: #4f4f4f;
}

@property --wide-box-width {
	syntax: "<dimension>";
	inherits: false;
	initial-value: 1000px;
}

@property --wide-box-padding {
	syntax: "<dimension>";
	inherits: false;
	initial-value: 3rem;
}

body {
	--wide-box-width: 1000px;
	--wide-box-padding: 3rem;
	--menu-bar-background-color: #333;
	--menu-bar-background-color-hover: #4f4f4f;

	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;

	margin: 0pt;
}

.main-box {
	margin-right: 0;
	right: 0;
	
	overflow: auto;
	padding-right: 20pt;
	max-height: 98%;
	
	grid-area: main;
}

.wide-box {
	position: fixed;
	top:        0;
	bottom:     0;
	overflow:   hidden;
	background: white;
	min-height: 100vh;

	display: grid;
}

.main-column {
	--sites-list-height: 38pt;
	overflow:   hidden;
	display: grid;
	min-height: calc(100vh - var(--sites-list-height));
	grid-template-rows: min-content auto min-content min-content;
	grid-template-areas:
		"sitemenu"
		"main"
		"footer"
		"copyright";
}

@media (min-width: 1000px) {
	.wide-box {
/*		width: var(--wide-box-width); */
		padding: 3rem;
		width: 100%;
		max-width: 1400px;

		/* Weird centring trick */
		left: 50%;
		transform: translateX(-50%);

		margin: auto;

		grid-template-columns: 15% 70% 15%;
		grid-template-areas:
			"siteslist"
			"left-column"
			"main-column"
			"right-column";
	}

	.wide-box.huge {
 		width: 100%;
		grid-template-columns: 10% 90%;
	}


	.left-column #site-contents > li {
		list-style-type: none;
		text-align: center;
		font-weight: bold;
	}
}

.siteslist {
	grid-column: 1 / -1;
}

@media screen and (max-width: 1000px) {
	.main-box {
		grid-template-columns: 100%;
	}

	.left-column {
		display: none;
	}

	.right-column {
		display: none;
	}
}

.tab-widget {
	padding: 6pt;
}

.tab-header {
	border-bottom: 1pt solid var(--menu-bar-background-color);
	padding: 1rem;
	display: inline-block;
}

.tab-headers {
	margin-bottom: 1rem;
}

.tab-body {
	padding: 1rem;
	background-color: #f2f2f2;
}

/* Code for footer */

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	color: white;
	grid-area: footer;
}

.footer span {
	flex: 1;
	padding: 14px 2px;
}

.footer a {
	color: white;
	padding: 10px 16px;
/*	border: 1px solid red; */
}

.footer a:hover {
	background-color: #7f7f7f;
	border-radius: 4pt;
}

.footer .centre {
	text-align: center;
	margin: auto;
}

.footer .right {
	text-align: right;
}

.copyright {
	text-align: center;
	grid-area: copyright;
}

.breadcrumbs {
	margin: 1%;
}
.left-column, .right-column {
	margin: 4pt;
	overflow-y: scroll;
}

.left-column ul {
/*	list-style-type: none;	 */
	padding: 5pt;
}
